venv/
/__pycache__/
/.idea/
/.git
/venv/
/venv/
.env.staging
env/
env

node_modules/

/.env
/alembic.ini
/migrations/
.output
/output/
output/
/output
/~$tab_price.xlsx
/tab_price.csv
/tab_price.xlsx
